header{
    background-color:rgb(230, 226, 226);
    border: double;
}
.headeri{
    display:flex;
    flex-direction: row;
}
.title{
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:flex;
    justify-content: center;
}
hr{
    width: 1000px;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sektoret{
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    /*color:rgb(56, 19, 19);*/
}
.sek{
    padding: 10px;
    margin: 5px;
    background-color: rgb(91, 151, 91);
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}
.log{
    padding: 10px;
    margin: 5px;
    background-color: rgb(91, 151, 91);
    border-radius: 12px;
}

.box{
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
fieldset{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}
.field{
    display: flex;
    flex-direction: column;
}
.rubrika{
    /*
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    */
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}

.img{
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}



.permifooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer{
    background-color: rgb(230, 226, 226);
    margin-top: 30px;
}
.f{
    color: rgb(91, 151, 91);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ff{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.a{
    display: flex;
    justify-content: center;
    margin:10px;
    height: 25px;
    width: 25px;
}
.footermain{
    color: gray;
    display: flex;
    justify-content: space-around;

}
.footerleft{
    display:flex;
    flex-wrap: wrap;
    width:300px;
}
.footerright{
    margin-left: 150px;
}
.fundi{
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}





.weather-widget {
    background-color:rgb(146, 192, 146);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 30px;
    margin-right: 20px;
    width: 300px;
    height: 260px;
    text-align: center;
}

.wimg{
    width: 150px;
}

.temp{
    font-size: 2em;
    margin: 10px 0;
}

.location {
    font-size: 1.2em;
    color:rgb(37, 37, 37);
    margin-bottom: 20px;
}