.margjina{
    
    display: flex;
    justify-content:center ;
   
  
}
.forma{
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid rgb(91, 151, 91);
    float: center;
    
    
}
fieldset{
    display: flex;
    justify-content: space-around;
    margin-inline-start: 200px;
    margin-inline-end: 200px;
}

.sektoret{
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    /*color:rgb(56, 19, 19);*/

}
.sek{
    padding: 10px;
    margin: 5px;
    background-color: rgb(91, 151, 91);
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
}
