body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f4ee;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Vidaloka;
}
.title{
    font-size: large;
    display:flex;
    justify-content: center;
    color: #233833;
}
.sektoret{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding-left: 200px;
}
.sek{
    
    padding: 10px;
    margin: 10px;
    margin-right: 50px;
    background-color: #415b41;
    color: #d5ddcd;
    border-radius: 12px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: large;
    transition: background-color 0.15s;
}
.sek:hover{
    background-color: #d5ddcd;
    color: #233833;
    border: solid;
    border-color: #233833;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}


.margjina{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color:#9aab89;
    width:750px;
    text-align: left;
    box-shadow: 2px 2px #415b41;
}
h4, h1{
    display: flex;
    justify-content: center;
}
b
.tekstet input{
    
    width:300px;
    height: 30px;
    border-radius: 5px;
    background-color: #d5ddcd; ;
    border: solid 1px;
    outline: none;
}
.tekstet input::placeholder{
    font-size: 14px;
    color:#233833;
}

footer{
    background-color: #9aab89;
    margin-top: 30px;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.f{
    color:#233833;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ff{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.a{
    display: flex;
    justify-content: center;
    margin:10px;
    height: 25px;
    width: 25px;
}
.footermain{
    color: #d5ddcd;
    display: flex;
    justify-content: space-around;

}
.footerleft{
    display:flex;
    flex-wrap: wrap;
    width:300px;
}
.footerright{
    margin-left: 150px;
}
.fundi{
    color: #d5ddcd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



  

