body{
    font-family:Vidaloka;
    background-color: #f1f4ee;
}
.title2{
    font-size: large;
    display:flex;
    justify-content: center;
    justify-content: space-around;
    color: #233833;
}

.in{
    height: 0.5px;
    width: 650px;
    border-color: #233833;
    margin-top: 40px;
}
.sub{
    
    width: 600px;
    height: auto;
    border:2px solid;
    border-color: #233833;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color:#9aab89;
}
.kartelat img{
    width: 50px;
    padding: 10px;

}

.input input{
    width:300px;
    height: 30px;
    border-radius: 5px;
    background-color: #d5ddcd;
    border: solid 1px;
    outline: none;
}

.konfirmimi{
    width:300px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px;
    outline: none;
    text-align: center;
    font-size: 15px;
}


.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data select{
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 1px;
    outline: none;
    text-align: center;
}
.name{
    display: flex;
    
}
.emri{
    width: 100%;
    margin-right: 10px;
}
.emri input{
    width: 150px;
}


.card{
    display: flex;
    align-items: center;
    
}
.card input{
    width: 150px;
}
.date{
    padding: 10px;
}
.data{
    display: flex;
    padding: 10px;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
h4, h1{
    display: flex;
    justify-content: center;
}


header{
    background-color: #9aab89;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

.headeri{
    display:flex;
    flex-direction: row;
}
.title{
    font-size: large;
    display:flex;
    justify-content: center;
    color: #233833;
}
hr{
    width: 1000px;
    
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sektoret{
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
}
.sek{
    padding: 11px;
    margin: 10px;
    background-color: #415b41;
    color: #d5ddcd;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color 0.15s;
}
.sek:hover{
    background-color: #d5ddcd;
    color: #233833;
}
.login{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}
.log{
    padding: 11px;
    margin: 10px;
    background-color:#233833;
    color: #d5ddcd;
    border-radius: 12px;
    transition: background-color 0.15s;
}
.log:hover{
    background-color: #d5ddcd;
    color: #233833;
}
footer{
    background-color: #9aab89;
    margin-top: 30px;
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
}
.f{
    color:#233833;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ff{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.a{
    display: flex;
    justify-content: center;
    margin:10px;
    height: 25px;
    width: 25px;
}
.footermain{
    color: #d5ddcd;
    display: flex;
    justify-content: space-around;

}
.footerleft{
    display:flex;
    flex-wrap: wrap;
    width:300px;
}
.footerright{
    margin-left: 150px;
}
.fundi{
    color: #d5ddcd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
fieldset{
    background-color: #d5ddcd;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    border-radius: 10px;
}
fieldset:hover{
    color: #415b41;
}
.field{
    display: flex;
    flex-direction: column;
}
.rubrika{
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}
.img{
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.first{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.col2{ 
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 440px;
    margin: 5px;
    padding-left: 10px;
}
.box{
    border-bottom: 0.5px solid;
    border-color: #233833;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 2px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #233833;
}
@media screen and (max-width: 1024px) {
    .box{
        width: 300px;
    }
    .col2{
        width: 300px;
    }
    .in{
        width: 400px;
    }
}

.row{
    display: flex;
    flex-direction: row;
}